* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3e3e3e;
    background: url(./images/bg.png) no-repeat 0 0;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    font-size: 1.2em;
    z-index: 2;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 0.5px;
}

.logo img {
    width: 40px;
    margin-right: 8px;
}

.menu-list li {
    list-style: none;
    display: inline-block;
    margin-left: 44px;
    cursor: pointer;
    transition: color 0.5s;
}

.menu-list li.active,
.menu-list li:hover {
    color: #ff0370;
}

.main {
    padding-top: 90px;
    position: relative;
    flex: 1;
    display: flex;
}

.left {
    max-width: 50%;
    padding: 0 64px;
}

.title {
    font-size: 2.8em;
    letter-spacing: 1px;
    margin: 48px auto;
}

.title strong {
    font-size: 1.5em;
    display: block;
    line-height: 80px;
}

.msg {
    max-width: 80%;
    font-size: 1em;
    letter-spacing: 0.7px;
    line-height: 32px;
    margin-bottom: 48px;
}


  